<h2><%= "#{@bowl.name} Fish Bowl #{@bowl.water_type} Notes" %></h2>

<p>
  <%= link_to "Back to #{@bowl.name} Bowl", bowl_path(@bowl) %> |
  <%= link_to 'Water Health Test', bowl_test_results_path(@bowl) %>
</p>


<%= render 'form' %>

<table class="table table-striped table-bordered">
  <tr>
    <th class="span3">Date Taken</th>
    <th><%= ('Note').pluralize(@notes.count) %></th>
    <th class="span1">Remove</th>
  </tr>
  <%= render @notes %>
</table>

<%= paginate @notes %>
