<%= form_for @bowl, remote: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field_tag "bowl[species_ids][]", nil%>
  <ul class="thumbnails">
    <% Species.all_available_to(current_user.id).by_bowl_water_type(f.object.water_type).each do |species| %>
      <li class="span4">
        <div class="thumbnail">
          <div class="add-thumbnail-height">
            <div class="center">
              <label for=<%= species.id %>><%= image_tag(default_or_species_avatar(species)) %></label>
            </div>
            <label class="checkbox" for=<%= species.id %>>
              <%= check_box_tag "bowl[species_ids][]",
                                species.id, @bowl.species_ids.include?(species.id),
                                id: species.id %>
              <h4><em><%= species.name %></em></h4>
            </label>
          </div>
          <%= render species %>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="fixed-button">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to "Back to #{@bowl.name} Bowl", bowl_path(@bowl), class: 'btn btn-primary' %>
  </div>
<% end %>
