<div class="row">
  <div class="span10 hero-unit">
    <%= form_for @bowl, html: { multipart: true } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="row">
        <div class="span5">
          <div class="control-group">
            <%= f.label :name, 'Fish bowl name' %>
            <%= f.text_field :name, autofocus: true %>
          </div>
          <div class="control-group">
            <%= f.label :size, 'Fish bowl size' %>
            <div class="input-append">
              <%= f.text_field :size %>
              <span class="add-on">Gallons</span>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :temperature %>
            <div class="input-append">
              <%= f.text_field :temperature %>
              <span class="add-on">&deg;F</span>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :water_type %>
            <%= f.select :water_type,
                         'Freshwater' => 'Freshwater',
                         'Saltwater'  => 'Saltwater' %>
          </div>
          <div class="control-group">
            <%= f.label :fish_type, 'Fish temperament' %>
            <%= f.select :fish_type,
                         'Community'       => 'Community',
                         'Semi-aggressive' => 'Semi-aggressive',
                         'Aggressive'      => 'Aggressive' %>
          </div>
        </div>

        <div class="span5">
          <div class="control-group">
            <%= f.label :avatar do %>
              Upload Image for your Fish Bowl Avatar
              <%= image_tag(f.object.avatar_url) if f.object.avatar? %>
            <% end %>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
          </div>
          <div class="control-group">
            <label class="checkbox">
              <%= f.check_box :remove_avatar %> Check box to remove Fish Bowl Avatar
            </label>
          </div>
        </div>
      </div>

      <div class="control-group pull-right"><%= f.submit class: 'btn btn-primary' %></div>

    <% end %>
  </div>
</div>