.select-bar
  = form_for [@bowl, @occupancy] do |f|
    .row
      .large-4.columns
        = link_to "List of #{@bowl.water_type} Species", species_list_bowl_path(@bowl)
      .large-4.columns
        = f.collection_select :species_id, Species.select_bar_options(current_user, @bowl),
        :id, :name, { prompt: 'Select One Species' }
        = f.submit 'Add', class: 'button'
      .large-4.columns
        = link_to "Create Your Own Species", new_species_path
