<section>
  <div class="row center">
    <div class="span12">
      <h3>Your Species</h3>
      <%= link_to 'Find Your Species', add_species_bowl_path(@bowl) %>
    </div>
  </div>

  <%= form_for @bowl do |f| %>
    <p class="pull-right"><%= f.submit "Update Species", class: "btn btn-primary" %></p>
    <div class="row">
      <div class="span12">
        <ul class="thumbnails">
          <%= f.fields_for :occupancies do |occupancy_builder| %>
            <li class="span4">
              <div class="thumbnail">
                <div class="your-thumbnail-height">
                  <div class="pull-right">
                    <%= link_to destroy_occupancy_path(@bowl, occupancy_builder.object),
                                confirm: "Are you sure you want to remove this species from your list?",
                                method: :delete do %>
                      <i class="icon-remove"></i>
                    <% end %>
                  </div>
                  <%= image_tag(occupancy_builder.object.species.image) %>
                  <h4><em><%=occupancy_builder.object.species.name %></em></h4>
                  <div class="control-group form-inline">
                    <%= occupancy_builder.label :amount %>
                    <%= occupancy_builder.number_field :amount, class: 'span1' %>
                  </div>
                </div>
                <%= render 'species_info', species: occupancy_builder.object.species %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</section>
