<section>
  <div class="row center">
    <div class="span12">
      <h3><%= "Your #{@bowl.water_type} Species" %></h3>
      <%= form_for [@bowl, @occupancy] do |f| %>
        <div class="form-inline select-bar">
          <%= link_to "List of #{@bowl.water_type} Species", add_species_bowl_path(@bowl) %>
          <%= f.collection_select :species_id, Species.by_bowl_water_type(@bowl.water_type).all_but_shown(@bowl.species_ids), :id, :name, { prompt: 'Select One Species' } %>
          <%= f.submit 'Add', class: 'btn' %>
          <!--
          Create Custom Species
          <%= link_to 'Create Custom Species', '#' %>
          -->
        </div>
      <% end %>
    </div>
  </div>

  <%= form_for @bowl do |f| %>
    <p class="pull-right"><%= f.submit "Update Amounts", class: "btn btn-primary" %></p>
    <div class="row">
      <div class="span12">
        <ul class="thumbnails">
          <%= f.fields_for :occupancies do |occupancy_builder| %>
            <li class="span4">
              <div class="thumbnail">
                <div class="your-thumbnail-height">
                  <div class="pull-right">
                    <%= link_to [@bowl, occupancy_builder.object],
                                confirm: "Are you sure you want to remove this species from your list?",
                                method: :delete do %>
                      <i class="icon-remove"></i>
                    <% end %>
                  </div>
                  <%= image_tag(occupancy_builder.object.species.image) %>
                  <h4><em><%=occupancy_builder.object.species.name %></em></h4>
                  <div class="control-group form-inline">
                    <%= occupancy_builder.label :amount %>
                    <%= occupancy_builder.number_field :amount, class: 'span1' %>
                  </div>
                </div>
                <%= render occupancy_builder.object.species %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</section>
