<h1>Select Your Species</h1>

<p>
  <%= link_to "Bowl Directory", bowls_path %> |
  <%= link_to "#{@bowl.name} Fish Bowl", @bowl %>
</p>

<%= form_for @bowl do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field_tag "bowl[species_ids][]", nil%>
  <ul class="thumbnails">
    <% Species.all.each do |species| %>
      <li class="span4">
        <div class="thumbnail">
          <%= image_tag(species.image) %><br/>
          <%= species.name %>
          <%= check_box_tag "bowl[species_ids][]", species.id, @bowl.species_ids.include?(species.id) %>
          <%= species.info %>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="control-group"><%= f.submit class: "btn btn-primary" %></div>
<% end %>
