.row
  .small-12.columns
    %h2= "#{current_user.name}, Edit Your Fish Bowl"
    %p
      = link_to "Bowl Directory", bowls_path, class: 'button small pad-right'
      = link_to "#{@bowl.name} Fish Bowl", @bowl, class: 'button small'
    = render 'form'
