<h2><%= "#{current_user.name}'s Fish #{one_or_more_bowls(@bowls)}" %></h2>

<p><%= link_to 'Create Custom Species', species_index_path %></p>

<ul class="thumbnails">
  <% @bowls.each do |bowl| %>
    <li class="span6">
      <div class="thumbnail">
        <h3><%= link_to bowl.name, bowl %></h3>
        <div class="center">
          <%= link_to image_tag(default_or_bowl_avatar(bowl),
                                alt: bowl.name), bowl %>
        </div>
        <p>
          <%= content_tag :div, "",
                           id: "results_chart_#{bowl.id}",
                           data: {results: paginate_test_results(bowl)} %>
        </p>
        <p class="center">
          <%= link_to "Edit Fish Bowl", edit_bowl_path(bowl) %> |
          <%= link_to "Water Health Test", bowl_water_health_tests_path(bowl) %> |
          <%= link_to bowl,
                      confirm: 'Are you sure? This will permanently delete your fish bowl!',
                      method: :delete do %>
            <i class="icon-remove"></i>Delete Bowl
          <% end %>
        </p>
      </div>
    </li>
  <% end %>
</ul>

<p><%= link_to "Create New Bowl", new_bowl_path, class: "btn btn-primary" %></p>
