<h2><%= "#{current_user.name}'s Fish #{('Bowl').pluralize(@bowls.count)}" %></h2>

<p><%= link_to 'Custom Species Directory', species_index_path %></p>

<ul class="thumbnails">
  <% @bowls.each do |bowl| %>
    <li class="span6">
      <div class="thumbnail bowl-thumbnail">
        <%= link_to bowl do %>
          <h3><%= bowl.name %><small><%= " - #{bowl.water_type}" %></small></h3>
        <% end %>
        <div class="center">
          <%= link_to image_tag(default_or_bowl_avatar(bowl),
                                alt: bowl.name,
                                class: 'picture-frame'), bowl %>
        </div>

        <div class="remove-line">
          <%= link_to bowl_test_results_path(bowl) do %>
            <% if bowl.test_results.present? %>
              <%= content_tag :div, '',
                              id: "results_chart_#{bowl.id}",
                              data: { results: paginate_test_results(bowl) } %>
            <% else %>
              <%= image_tag('sample/small_graph.png') %>
            <% end %>
          <% end %>
        </div>

        <div class="center to-bottom">
          <%= link_to 'Edit Fish Bowl', edit_bowl_path(bowl) %> |
          <%= link_to 'Water Health Test', bowl_test_results_path(bowl) %> |
          <%= link_to bowl,
                      confirm: 'Are you sure? This will permanently delete your fish bowl!',
                      method: :delete do %>
            <i class="icon-remove"></i>Delete Bowl
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<p><%= link_to 'Create New Bowl', new_bowl_path, class: 'btn btn-primary' %></p>
