<h2><%= "#{@bowl.name} Fish Bowl" %></h2>

<p>
  <%= link_to "Bowl Directory", bowls_path %> |
  <%= link_to "Edit Fish Bowl", edit_bowl_path(@bowl) %> |
  <%= link_to "Delete Fish Bowl", @bowl, confirm: 'Are you sure?', method: :delete %> |
  <%= link_to "Water Health Test", bowl_water_health_tests_path(@bowl) %>
</p>

<div class="row">
  <div class="span12">

    <div class="row">
      <div class="span4">
        <h3><%= link_to "Bowl Info", edit_bowl_path(@bowl) %></h3>
        <p><%= link_to image_tag(default_or_avatar(@bowl),
                                 alt: @bowl.name,
                                 class: "thumbnail img-polaroid"), edit_bowl_path(@bowl) %></p><br>
        <p>Bowl size:<b><%= " #{@bowl.size} Gallons" %></b></p>
        <p>Temperature:<b><%= " #{@bowl.temperature}" %>&deg;F</b></p>
        <p>Water type:<b><%= " #{@bowl.water_type}" %></b></p>
        <p>Fish temperament:<b><%= " #{@bowl.fish_type}" %></b></p>
        <p>Total bowl occupants:<b><%= " #{@bowl.total_occupants}" %></b></p>
        <p>
          <%= link_to 'Estimated length of all occupants:', about_water_health_path(anchor: "how-many") %>
        </p>
        <b class=<%= crowded?(@bowl) %>><%= " #{species_total_length(@bowl)}" %>&quot;</b>
      </div>

      <div class="span8">
        <h3><%= link_to "Water Health", bowl_water_health_tests_path(@bowl) %></h3>
        <%= content_tag :div, "", id: "results_chart", data: {results: @water_health_tests} %>
      </div>
    </div>

    <%= render 'your_species' %>

  </div>
</div>
