<h2><%= "#{@bowl.name} Fish Bowl" %><small><%= " - #{@bowl.water_type}" %></small></h2>

<p>
  <%= link_to 'Bowls Directory', bowls_path %> |
  <%= link_to 'Custom Species Directory', species_index_path %>
</p>

<div class="row">
  <div class="span12">

    <div class="row">
      <div class="span4">
        <h3><%= link_to 'Bowl Info', edit_bowl_path(@bowl) %></h3>
        <p><%= link_to image_tag(default_or_bowl_avatar(@bowl),
                                 alt: @bowl.name,
                                 class: 'thumbnail img-polaroid'), edit_bowl_path(@bowl) %></p><br>
        <p>Bowl size:<b><%= " #{@bowl.size} Gallons" %></b></p>
        <p>Temperature:<b><%= " #{@bowl.temperature}" %>&deg;F</b></p>
        <p>Water type:<b><%= " #{@bowl.water_type}" %></b></p>
        <p>Fish temperament:<b><%= " #{@bowl.fish_type}" %></b></p>
        <p>Total bowl occupants:<b><%= " #{count_species(@bowl)}" %></b></p>

        <p>
          <%= link_to 'Estimated length of all occupants:', about_water_health_path(anchor: "how-many") %>
          <b class=<%= crowded?(@bowl) %>><%= " #{species_total_length(@bowl)}" %>&quot;</b>
        </p>
      </div>

      <div class="span8">
        <h3><%= link_to 'Water Health', bowl_test_results_path(@bowl) %></h3>
        <div class="remove-link-underline">
          <%= link_to bowl_test_results_path(@bowl) do %>
            <% if @test_results.present? %>
              <%= content_tag :div, '', id: 'results_chart', data: { results: @test_results } %>
            <% else %>
              <%= image_tag('sample/medium_graph.png') %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render 'your_species' %>

  </div>
</div>
