<h2><%= "#{current_user.name}," %></h2>
<h3 class="add-text-shadow">
  <%= "Select Your #{@bowl.water_type} Species In #{@bowl.name} Fish Bowl" %>
  <small><%= link_to 'or create your own!', new_species_path %></small>
</h3>

<%= render 'add_occupancy_form' %>

<div class="center add-background">
  <p>Didn't see your species? <%= link_to 'Create your own!', new_species_path %></p>
  <% unless @bowl.water_type == 'Freshwater' %><p>More Species To Select From Coming Soon.</p><% end %>
</div>
