<h2><%= "#{@bowl.name} Fish Bowl Water Health History" %></h2>

<p>
  <%= link_to "Bowl Directory", bowls_path %> |
  <%= link_to "Back to Fish Bowl", bowl_path(@bowl) %> |
  <%= link_to "Water Health Test", bowl_water_health_tests_path(@bowl) %>
</p>

<% if @water_health_tests.present? %>
  <%= content_tag :div, '', id: 'results_chart', data: { results: @water_health_tests } %>
<% else %>
  <%= image_tag('sample/large_graph.png') %>
<% end %>
