- provide(:title, 'Sign up')
.row
  .medium-6.medium-centered.columns
    .callout
      %h2.heading Sign up
      = form_for(resource, :as => resource_name,
      :url => registration_path(resource_name)) do |f|
        = devise_error_messages!
        .control-group
          = f.label :name
          = f.text_field :name, autofocus: true
        .control-group
          = f.label :email
          = f.text_field :email
        .control-group
          = f.label :password
          = f.password_field :password
        .control-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation
        %br/
        .control-group
          = f.submit 'Sign up', class: 'button large'
      = render 'devise/shared/links'
