<%= form_for [@bowl, @test_result] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <table class="table table-striped table-bordered">
    <%= render 'header', f: f %>
    <%= render 'fields', f: f %>
    <%= render @test_results %>
  </table>
<% end %>
