<h2><%= "#{@bowl.name} Fish Bowl Water Health" %></h2>

<p>
  <%= link_to "Bowl Directory", bowls_path %> |
  <%= link_to "Back to Fish Bowl", bowl_path(@bowl) %>
</p>

<%= content_tag :div, "", id: "results_chart", data: {results: @test_results} %>

<h3>Water Test</h3>

<%= will_paginate @test_results %>

<%= render 'form' %>

<p><%= link_to "Back to Fish Bowl", bowl_path(@bowl) %></p>