<h2><%= "#{@bowl.name} Fish Bowl #{@bowl.water_type} Health History" %></h2>

<p>
  <%= link_to "Back to #{@bowl.name} Bowl", bowl_path(@bowl) %> |
  <%= link_to "Water Health Test", bowl_test_results_path(@bowl) %>
</p>

<div class="remove-line">
  <%= link_to bowl_test_results_path(@bowl) do %>
    <% if @test_results.present? %>
      <%= content_tag :div, '', id: 'results_chart', data: { results: @test_results } %>
    <% else %>
      <%= image_tag('sample/large_graph.png') %>
    <% end %>
  <% end %>
</div>
