.row
  .small-12.columns
    %h2= "#{@bowl.name} Fish Bowl #{@bowl.water_type} Health History"
    %p
      = link_to "To #{@bowl.name} Bowl", bowl_path(@bowl), class: 'button small pad-right'
      = link_to "Back to #{@bowl.water_type} Health", bowl_test_results_path(@bowl), class: 'button small'
    .remove-link-underline.add-background
      = link_to bowl_test_results_path(@bowl) do
        - if @test_results.present?
          = content_tag :div, '', id: 'results_chart', data: { results: @test_results }
        - else
          = image_tag('sample/large_graph.png')
