<h2><%= "#{current_user.name}'s Custom Species" %></h2>

<p><%= link_to 'Bowls Directory', bowls_path %></p>

<p><%= link_to 'Create New Species', new_species_path, class: 'btn btn-primary' %></p>

<ul class="thumbnails">
  <% @species.each do |species| %>
    <li class="span4">
      <div class="thumbnail">
        <div class="your-species-height">
          <div class="pull-left"><%= link_to 'Edit', edit_species_path(species) %></div>
          <div class="pull-right">
            <%= link_to species,
                        confirm: 'Are you sure you want to permanently delete this species? This will remove your custom species from ALL of your Fish Bowls!',
                        method: :delete do %>
              Delete <i class="icon-remove"></i>
            <% end %>
          </div>
          <div class="center-image pad-top">
            <%= link_to image_tag(default_or_species_avatar(species)), edit_species_path(species) %>
          </div>
          <div class="to-bottom"><h4><em><%= species.name %></em></h4></div>
        </div>
        <%= render species %>
      </div>
    </li>
  <% end %>
</ul>
