<h2><%= "#{current_user.name}'s Custom Species" %></h2>

<p>
  <%= link_to 'Bowls Directory', bowls_path %> |
  <%= link_to 'Back', :back %>
</p>

<ul class="thumbnails">
  <% @species.each do |species| %>
    <li class="span4">
      <div class="thumbnail">
        <div class="your-species-height">
          <%= link_to 'Edit', edit_species_path(species) %>
          <div class="pull-right">
            <%= link_to species,
                        confirm: "Are you sure you want to remove this species from your list?",
                        method: :delete do %>
              <i class="icon-remove"></i>
            <% end %>
          </div>
          <%= image_tag(default_or_image(species)) %>
          <h4><em><%= species.name %></em></h4>
        </div>
        <%= render species %>
      </div>
    </li>
  <% end %>
</ul>

<p><%= link_to "Create Species", new_species_path, class: "btn btn-primary" %></p>
