<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for tank in @tanks %>
    <tr>
      <td><%= tank.name %></td>
      <td><%= link_to "Show", tank %></td>
      <td><%= link_to "Edit", edit_tank_path(tank) %></td>
      <td><%= link_to "Destroy", tank, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Tank", new_tank_path %></p>
