<table class="table table-striped table-bordered">
  <tr>
    <th>Date Taken</th>
    <th><%= link_to "Ammonia", about_water_health_path(anchor: "ammonia") %></th>
    <th><%= link_to "Nitrate", about_water_health_path(anchor: "nitrate") %></th>
    <th><%= link_to "Nitrite", about_water_health_path(anchor: "nitrite") %></th>
    <% if @bowl.water_type == "Freshwater" %>
      <th><%= link_to "Hardness", about_water_health_path(anchor: "hardness") %></th>
    <% end %>
    <th><%= link_to "Alkalinity", about_water_health_path(anchor: "alkalinity") %></th>
    <th><%= link_to "pH", about_water_health_path(anchor: "ph") %></th>
    <th></th>
  </tr>
  <%= render 'fields', f: f %>
  <% @water_health_tests.each do |water_health_test| %>
    <tr>
      <td><%= water_health_test.created_at.strftime("%b. %d, %Y @ %I:%M%p") %></td>
      <%= ammonia_level(water_health_test.ammonia) %>
      <%= nitrate_level(water_health_test.nitrate) %>
      <%= nitrite_level(water_health_test.nitrite) %>
      <%= hardness_level(water_health_test.hardness) if @bowl.water_type == "Freshwater" %>
      <%= alkalinity_level(water_health_test.alkalinity) %>
      <%= ph_level(water_health_test.ph) %>
      <td class="center">
        <%= link_to [@bowl, water_health_test],
                    confirm: 'Are you sure? This will permanently delete your water health test!',
                    method: :delete do %>
          <i class="icon-remove"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
