<footer class="navbar navbar-static-bottom muted">
  <div class="navbar-inner">
    <%= link_to 'http://manonfire.herokuapp.com', class: 'developer-brand', target: '_blank' do %>
      <%= image_tag 'ManOnFire_WebDesign_Header_small.png' %>
    <% end %>

    <ul class="nav pull-right">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About Water Health', about_water_health_path %></li>
      <li><%= link_to 'Forum', forum_path %></li>
      <li><%= link_to 'Information Sources', info_sources_path %></li>
    </ul>
  </div>
</footer>
