.top-bar
  .top-bar-left
    .title-bar
      .title-bar-title
        = link_to root_path, class: 'brand' do
          Fish Bowl
      .title-bar-right
        %button{data: {hide_for: 'medium', responsive_toggle: 'responsive-menu'}}
          .menu-icon{data: {toggle: true}}
  .top-bar-right
    #responsive-menu
      %ul.menu.vertical.medium-horizontal{data: {responsive_menu: 'accordion medium-dropdown'}}
        %li
          = link_to root_path do
            %i.icon-home.icon-white
            Home
        - if user_signed_in?
          = render 'layouts/bowls_navigation'
          = render 'layouts/options'
          = render 'layouts/user'
          = render 'layouts/help'
          - if current_user.admin?
            %li
              = link_to users_path do
                %i.icon-star.icon-white
                Admin View
        - else
          %li
            = link_to new_user_session_path do
              %i.icon-user.icon-white
              Sign in
