<header class="navbar navbar-static-top pad-bottom">
  <div class="navbar-inner">
    <%= link_to 'Fish Bowl', root_path, class: 'brand' %>
    <ul class="nav pull-right">
      <li>
        <%= link_to root_path do %>
          <i class="icon-home"></i> Home
        <% end %>
      </li>
      <% if user_signed_in? %>

        <%= render 'layouts/bowls_navigation' %>

        <%= render 'layouts/options' %>

        <%= render 'layouts/user' %>

        <%= render 'layouts/help' %>

        <% if current_user.admin? %>
          <li>
            <%= link_to users_path do %>
              <i class="icon-star"></i> Admin View
            <% end %>
          </li>
        <% end %>

      <% else %>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="icon-user"></i> Sign in
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
